<p id="notice"><%= notice %></p>

<h1>Listing Overheards</h1>

<% @overheards.each do |overheard| %>
<div class="panel panel-default">
  <div class="panel-body">
    <h4>Title: </h4><%= overheard.title %><br />
    <%= overheard.oh_entry %>

    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default"><%= link_to 'Show', overheard %></button>
      <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_overheard_path(overheard) %></button>
      <button type="button" class="btn btn-default"><%= link_to 'Destroy', overheard, method: :delete, data: { confirm: 'Are you sure?' } %></button>
    </div>

  </div>
  <div class="panel-footer">
    <h4>Author: </h4><%= overheard.author %>
    <h4>Location: </h4><%= overheard.location %>
  </div>
</div>
<% end %>

<br>

<%= link_to 'New Overheard', new_overheard_path %>
